{% extends 'base.html.twig' %}

{% block body %}



    <div class="row">

        {% for e in evenements %}
        <table class="table">
        <div class="col-sm-6">

            <div class="card" style="...">

                <div class="container">
                    <img class="card-img-top" src="{{ asset("/uploads/#{e.image}") }}" alt="Cinque Terre" width="500" height="700">

                </div>


                <div class="card text-center" style="width: 18rem;">
                  <p class="card-subtitle mb-2 text-muted"> nom event:{{ e.nom }}</p>
                    <p class="text-md-left"> {{ e.Categorie.description }}</p>
                     <p class="card-footer"> <a href="{{ path('maps', {'id': e.id}) }}"><button type="button" class="btn btn-success" id="destination">destination:{{ e.destination }}</button></a>
                    <p class="card-text">prix: {{ e.prix }}</p>

                    {% if e.nbRestant ==0 %}
                        <div class="alert alert-danger" role="alert">
                           <h5><p class="text-danger"> Complet</p></h5>
                        </div>

                    {% else %}
                        <label>Nombre des places restant</label>
                        <p class="success"> {{ e.nbRestant }}</p>
                        <a href="{{ path('reserverEvent',{'id':e.id}) }}" class="btn btn-info">Reserver</a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </table>


{% endblock %}
