{% extends 'base.html.twig' %}

{% block title %}Vol index{% endblock %}

{% block body %}
    

    <center><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Nbplace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vol in vols %}
            <tr>
                <td>{{ vol.id }}</td>
                <td>{{ vol.date ? vol.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vol.prix }}</td>
                <td>{{ vol.nbplace }}</td>
                <td>
                    <a type="button"class="btn btn-dark btn-sm" href="{{ path('vol_show', {'id': vol.id}) }}">show</a>
                    <a type="button"class="btn btn-dark btn-sm" href="{{ path('vol_edit', {'id': vol.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<a type="button" class="btn btn-dark btn-sm" href="{{ path('vol_new') }}" > Ajouter </a>
</center>{% endblock %}                   
