{% extends 'base.html.twig' %}

{% block title %}Vol index{% endblock %}

{% block body %}
    

    <center><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Nbplace</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vol in vols %}
            <tr>
                <td>{{ vol.id }}</td>
                <td>{{ vol.date ? vol.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vol.prix }}</td>
                <td>{{ vol.nbplace }}</td>
                <td>
                   <div class="btn-group">
                                                    <button type="button" class="btn btn-dark btn-sm">Open</button>
                                                    <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference1">
                                                      <a class="dropdown-item" href="{{ path('vol_show', {'id': vol.id}) }}">Afficher</a>
                                                      <a class="dropdown-item" href="{{ path('vol_edit', {'id': vol.id}) }}">Modifier</a>
                                                     
                                                      
                                                  </div> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-dark btn-sm" href="{{ path('vol_new') }}" > Ajouter </a>
</center>
      
{% endblock %}
