{% extends 'front.html.twig' %}
  
{% block body %} 
    <div class="content-body">
      <section class="page-section pt-0 pb-50">
        <div class="container">
          <div class="menu-widget with-switch mt-30 mb-30">
            <ul class="magic-line">
              <li class="current_item"><a href="#overview" class="scrollto">Overview</a></li>
              <li><a href="#prices" class="scrollto">Prices</a></li>
              <li><a href="#location" class="scrollto">Location</a></li>
              <li><a href="#amenties" class="scrollto">Amenties</a></li>
              <li><a href="#reviews" class="scrollto">Reviews (28) <span class="stars stars-5"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div id="flex-slider" class="flexslider">
            <ul class="slides">
              <li><img src="pic/flexslider/l-1.jpg" alt></li>
              <li><img src="pic/flexslider/l-2.jpg" alt></li>
              <li><img src="pic/flexslider/l-3.jpg" alt></li>
              <li><img src="pic/flexslider/l-4.jpg" alt></li>
              <li><img src="pic/flexslider/l-5.jpg" alt></li>
              <li><img src="pic/flexslider/l-6.jpg" alt></li>
              <li><img src="pic/flexslider/l-7.jpg" alt></li>
              <li><img src="pic/flexslider/l-8.jpg" alt></li>
              <li><img src="pic/flexslider/l-9.jpg" alt></li>
              <li><img src="pic/flexslider/l-1.jpg" alt></li>
            </ul>
          </div>
          <div id="flex-carousel" class="flexslider">
            <ul class="slides">
              <li><img src="pic/flexslider/1%402x.jpg"  alt></li>
              <li><img src="pic/flexslider/2.jpg"  alt></li>
              <li><img src="pic/flexslider/3.jpg"  alt></li>
              <li><img src="pic/flexslider/4.jpg"  alt></li>
              <li><img src="pic/flexslider/5.jpg"  alt></li>
              <li><img src="pic/flexslider/6.jpg"  alt></li>
              <li><img src="pic/flexslider/7%402x.jpg"  alt></li>
              <li><img src="pic/flexslider/8%402x.jpg"  alt></li>
              <li><img src="pic/flexslider/9.jpg"  alt></li>
              <li><img src="pic/flexslider/1.jpg"  alt></li>
            </ul>
          </div>
        </div>
        <!-- section reviews-->
        <div id="reviews" class="container mb-60">
          <div class="row">
            <div class="col-md-12">
              <h4 class="trans-uppercase mb-10">Reviews travellers</h4>
              <div class="cws_divider mb-30"></div>
            </div>
          </div>
          <div class="reviews-wrap">
            <div class="reviews-top pattern relative">
              <div class="reviews-total">
                <h5>Excellent</h5>
                <div class="reviews-sub-mark">4.2</div>
                <div class="stars-perc"><span style="width:85%"></span></div><span>Based on 18 reviews</span>
              </div>
              <div class="reviews-marks">
                <ul>
                  <li>Cleanliness<span><span class="stars-perc"><span style="width:85%"></span></span>4.5</span></li>
                  <li>Location<span><span class="stars-perc"><span style="width:80%"></span></span>4.0</span></li>
                  <li>Staff<span><span class="stars-perc"><span style="width:100%"></span></span>5.0</span></li>
                  <li>Free Wi-Fi<span><span class="stars-perc"><span style="width:65%"> </span></span>3.5</span></li>
                </ul>
                <ul>
                  <li>Comfort<span><span class="stars-perc"><span style="width:85%"> </span></span>4.5</span></li>
                  <li>Facilities<span><span class="stars-perc"><span style="width:80%"></span></span>4.0</span></li>
                  <li>Value for money<span><span class="stars-perc"><span style="width:100%"> </span></span>5.0</span></li>
                </ul>
              </div>
            </div>
            <div class="comments">
              <div class="comment-body">
                
                <div class="comment-info">
                  <div class="comment-meta">
                    <div class="title">
                      
                    </div>
                    <div class="comment-date">
                      
                    </div>
                  </div>
                  <div class="comment-content">
                    <h2>Browse reviews</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Comment</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviewss %}
            <tr>
            
                <td>{{ review.idUtil }}</td>
                <td>{{ review.comment }}</td>
                <td>{% if review.rating == 1 %}
                <div class="stars stars-1"></div>
                {% elseif review.rating == 2 %}
                <div class="stars stars-2"></div>
                {% elseif review.rating == 3 %}
                <div class="stars stars-3"></div>
                {% elseif review.rating == 4 %}
                <div class="stars stars-4"></div>
                {% elseif review.rating == 5 %}
                <div class="stars stars-5"></div>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                  </div>
                </div>
              </div>
              <div class="comment-body">
                
                <div class="comment-info">
                  <div class="comment-meta">
                    <div class="title">
                      
                    </div>
                  </div>
                  <div class="comment-content">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="reviews-bottom">
              
            </div>
          </div>
        </div>
        
        <!-- review -->
        <div class="container">
        <h4 class="trans-uppercase mb-10">Write a review</h4>
        <div class="cws_divider mb-30"></div>
         {{form_start(formreview,{'attr':{'class':'review-content'}})}}
        

                {{form_row(formreview.comment, {'attr': {'class':'form-row'}})}}
                {{form_row(formreview.rating, {'attr': {'class':'form-row'}})}}
                {{form_row(formreview.idUtil, {'attr': {'class':'form-row'}})}}
                
                
        
        <button class="cws-button alt float-right">{{ button_label|default('Save') }}</button>
        {{ form_end(formreview) }} 
        </div>

        
        <!-- ! review -->
      </section>
    </div>
    
    {% endblock %}
