{% extends 'front.html.twig' %}

{% block title %}ReservationVol index{% endblock %}

{% block body %}

    <center><table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre_personne</th>
                <th>Date_res</th>
                <th>Id vols</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ReservationVol in ReservationVols %}
            <tr>
            
                <td>{{ReservationVol.id}}</td>
                <td>{{ReservationVol.getNombrePersonne()}}</td>
                <td>{{ReservationVol.getDateRes() ? ReservationVol.getDateRes()|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ReservationVol.getVols().getId()}} </td>
                
                <td>
                   <div class="btn-group">
                                                    <button type="button" class="btn btn-dark btn-sm">Open</button>
                                                    <button type="button" class="btn btn-dark btn-sm dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-reference="parent">
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference1">
                                                      <a class="dropdown-item" href="{{ path('ReservationVol_show', {'id': ReservationVol.id}) }}">Afficher</a>
                                                      <a class="dropdown-item" href="{{ path('ReservationVol_edit', {'id': ReservationVol.id}) }}">Modifier</a>
                                                     
                                                      
                                                  </div> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<center><a type="submit" class="btn btn-dark btn-sm" class="btn" href="{{ path('ReservationVol_pdf') }}">Imprimer</a>
</center><br>
    <a type="button" class="btn btn-dark btn-sm" href="{{ path('ReservationVol_new') }}" > Ajouter </a>
</center>
      
{% endblock %}
