{% extends 'front.html.twig' %}


{% block body %}





    <style>
        .test12
        {
            display: none;
        }
    </style>
        <h2>Mes reservations</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Evenement</th>
                <th scope="col">Date Reservation</th>
                <th scope="col">Nombre des participants</th>
                <th>Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for r in reservations %}
                <tr>
                    <td>{{ r.event.nom }}</td>
                    <td>{{ r.dateReservation | date }}</td>
                    <td>{{ r.nbrParticipant }}</td>
                    <td><a href="{{ path('modifReservation',{'id':r.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('suppReservation',{'id':r.id}) }}">Supprimer</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
