{% extends 'base.html.twig' %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% set nbr= nbrRestant+reservation.nbrParticipant%}
    <p>Nombre des places restants {{ nbr }}</p>

    {{ form_start(form) }}
    <div class="form-group">
        <label for="exampleFormControlInput1">Nombre des participants</label>

        {{ form_widget(form.nbr_participant,{'attr':{'class':'form-control','max':nbr}}) }}
    </div>
    <div class="form-group">
        <button class="cws-button alt float-right" >{{ button_label|default('Reserver') }}</button>
    </div>

    {{ form_end(form) }}
{% endblock %}