<!DOCTYPE html>
<html>
<head>
    <title>Suntour</title>
    <meta charset="utf-8">
    <title>{% block title %}PI{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{{ asset ('/front/css/reset.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/css/font-awesome.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/css/owl.carousel.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/css/jquery.fancybox.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/fonts/fi/flaticon.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/css/flexslider.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/css/main.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/css/indent.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/rs-plugin/css/settings.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/rs-plugin/css/layers.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/rs-plugin/css/navigation.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/tuner/css/colorpicker.css')}}">
        <link rel="stylesheet" href="{{ asset ('/front/tuner/css/styles.css')}}">
    {% endblock %}
</head>

<body>

<header>
    {% block header %}
        <!-- site top panel-->
        <div class="site-top-panel">
            <div class="container p-relative">
                <div class="row">
                    <div class="col-md-6 col-sm-7">
                        <!-- lang select wrapper-->
                        <div class="top-left-wrap font-3">
                            <div class="mail-top"><a href="mailto:support.suntour@example.com"> <i class="flaticon-suntour-email"></i>suntour@example.com</a></div><span>/</span>
                            <div class="tel-top"><a href="tel:(723)-700-1183"> <i class="flaticon-suntour-phone"></i>(723)-700-1183</a></div>
                        </div>
                        <!-- ! lang select wrapper-->
                    </div>
                    <div class="col-md-6 col-sm-5 text-right">
                        <div class="top-right-wrap">
                            <div class="top-login"><a href="#">My Account</a></div>
                            <div class="curr-wrap dropdown">
                                <div>
                                    <ul>
                                        <li><a href="#" class="lang-sel icl-en">Currency<i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="#">USD</a></li>
                                                <li><a href="#">EUR</a></li>
                                                <li> <a href="#">GBP</a></li>
                                                <li> <a href="#">AUD</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lang-wrap dropdown">
                                <div>
                                    <ul>
                                        <li><a href="#" class="lang-sel icl-en">Language <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li><a href="#">English</a></li>
                                                <li> <a href="#">Deutsch</a></li>
                                                <li> <a href="#">Espanol</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ! site top panel-->
        <!-- Navigation panel-->
        <nav class="main-nav js-stick">
            <div class="full-wrapper relative clearfix container">
                <!-- Logo ( * your text or image into link tag *)-->
                <div class="nav-logo-wrap local-scroll"><a href="index-2.html" class="logo"><img src="{{ asset ('front/img/logo.png')}}" data-at2x="img/logo@2x.png" alt></a></div>
                <!-- Main Menu-->
                <div class="inner-nav desktop-nav">
                    <ul class="clearlist">
                        <!-- Item With Sub-->
                        <li><a href="index-2.html" class="mn-has-sub">Home <i class="fa fa-angle-down button_open"></i></a>
                            <ul class="mn-sub">
                                <li><a href="index-2.html">Standart Slider</a></li>
                                <li><a href="index-search.html">Main Search</a></li>
                                <li><a href="index-slider.html">Full Slider</a></li>
                                <li><a href="index-video.html">Video Slider</a></li>
                            </ul>
                        </li>
                        <!-- End Item With Sub-->
                        <li class="slash">/</li>
                        <!-- Item With Sub-->
                        <li><a href="vols-search.html" class="mn-has-sub"> vol <i class="fa fa-angle-down button_open"></i></a>
                            <!-- Sub-->
                            <ul class="mn-sub">
                                <li><a href="">mes vols</a></li>

                            </ul>
                            <!-- End Sub-->
                        </li>
                        <!-- End Item With Sub-->
                        <li class="slash">/</li>
                        <!-- Item With Sub-->
                        <li class="megamenu"><a href="page-about-us.html" class="mn-has-sub active">pages <i class="fa fa-angle-down button_open"></i></a>
                            <!-- Sub-->
                            <ul class="mn-sub mn-has-multi">
                                <li class="mn-sub-multi"><a class="mn-group-title">Pages</a>
                                    <ul>
                                        <li><a href="page-about-us.html">About Us</a></li>
                                        <li><a href="page-services.html">Services</a></li>
                                        <li><a href="page-procces.html">Our Procces</a></li>
                                        <li><a href="page-our-team.html">Our Team</a></li>
                                        <li><a href="page-profile.html">Profile</a></li>
                                        <li><a href="page-elements.html">Elements</a></li>
                                    </ul>
                                </li>
                                <li class="mn-sub-multi active"><a class="mn-group-title">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-3-col.html">Three Columns</a></li>
                                        <li><a href="portfolio-4-col.html">Four Columns</a></li>
                                        <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                                        <li><a href="portfolio-with-sidebar.html">With Sidebar</a></li>
                                        <li class="active"><a href="portfolio-gallery.html">Gallery</a></li>
                                        <li><a href="page-portfolio-single.html">Portfolio Single</a></li>
                                    </ul>
                                </li>
                                <li class="mn-sub-multi"><a class="mn-group-title">Blog</a>
                                    <ul>
                                        <li><a href="blog-2-col-sidebar.html">Two Columns + Sidebar</a></li>
                                        <li><a href="blog-3-col.html">Three Columns</a></li>
                                        <li><a href="blog-4-col.html">Four Columns</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li><a href="blog-list.html">Blog List</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End Sub-->
                        </li>
                        <!-- End Item With Sub-->
                        <!-- span /-->
                        <!-- Item With Sub-->
                        <!-- End Item With Sub-->
                        <li class="slash">/</li>
                        <!-- Item With Sub-->
                        <li><a href="shop-grid.html" class="mn-has-sub">Shop <i class="fa fa-angle-down button_open"></i></a>
                            <!-- Sub-->
                            <ul class="mn-sub">
                                <li><a href="shop-grid.html">Shop Grid</a></li>
                                <li><a href="shop-cart.html">Shop Cart</a></li>
                                <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                <li><a href="shop-single.html">Shop Single Product</a></li>
                            </ul>
                            <!-- End Sub-->
                        </li>
                        <!-- End Item With Sub-->
                        <li class="slash">/</li>
                        <!-- Item-->
                        <li><a href="page-contact.html">Contact</a></li>
                        <!-- End Item-->
                        <!-- Search-->
                        <li class="search"><a href="#" class="mn-has-sub">Search</a>
                            <ul class="search-sub">
                                <li>
                                    <div class="container">
                                        <div class="mn-wrap">
                                            <form method="post" class="form">
                                                <div class="search-wrap">
                                                    <input type="text" placeholder="Where will you go next?" class="form-control search-field"><i class="flaticon-suntour-search search-icon"></i>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="close-button"><span>Search</span></div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- End Search-->
                    </ul>
                </div>
                <!-- End Main Menu-->
            </div>
        </nav>

    {% endblock %}
</header>

{% block body %}{% endblock %}

{% block footer %}
    <footer style="background-image: url('{{ asset ('front/pic/footer/footer-bg.jpg')}}')" class="footer footer-fixed">


        <!-- copyright-->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p>© Copyright 2016 <span>Suntour</span> &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved</p>
                    </div>
                    <div class="col-sm-6 text-right"><a href="index-2.html" class="footer-nav">Home</a><a href="page-about-us.html" class="footer-nav">Pages</a><a href="hotels-search.html" class="footer-nav">Hotels</a><a href="blog-grid.html" class="footer-nav">Blog</a><a href="shop-grid.html" class="footer-nav">Shop</a><a href="page-contact.html" class="footer-nav">Contacts</a></div>
                </div>
            </div>
        </div>
        <!-- end copyright-->
        <!-- scroll top-->

    </footer>
{% endblock %}

{% block js %}
    <script src="https://www.youtube.com/player_api"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/bootstrap.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/owl.carousel.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.sticky.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/TweenMax.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/cws_parallax.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.fancybox.pack.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.fancybox-media.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/isotope.pkgd.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/imagesloaded.pkgd.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/masonry.pkgd.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/jquery.themepunch.tools.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/extensions/revolution.extension.navigation.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/extensions/revolution.extension.parallax.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/extensions/revolution.extension.video.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/extensions/revolution.extension.actions.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/extensions/revolution.extension.kenburn.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/rs-plugin/js/extensions/revolution.extension.migration.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.validate.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.form.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/script.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/bg-video/cws_self_vimeo_bg.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/bg-video/jquery.vimeo.api.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/bg-video/cws_YT_bg.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.tweet.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.scrollTo.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/jquery.flexslider.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/tuner/js/colorpicker.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/tuner/js/scripts.js')}}"></script>
    <script type="text/javascript" src="{{ asset ('/front/js/retina.min.js')}}"></script>
{% endblock %}
</body>

</html>