{% extends 'base.html.twig' %}
{% block title %}Vol{% endblock %}

{% block body %}
    <h1>Vol</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Horaire</th>
                <th>Prix</th>
                <th>Nombre de place</th>
            </tr>
        </thead>
        <tbody>
            <tr>
               
                <td>{{ vol.id }}</td>
                <td>{{ vol.date ? vol.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vol.prix }}</td>
                <td>{{ vol.nbplace }}</td>
            
        </tbody>
    </table>
{{ include('vol/_delete_form.html.twig') }}
    <center><a type="submit" class="btn btn-primary mt-3" class="btn" href="{{ path('vol_index') }}">back to list</a>
</center>
    

    
    
                             
{% endblock %}
